@{
    ViewData["Title"] = "Enter the name of a book to change";
}
<h1>@ViewData["Title"]</h1>

<div id="BookForm" style="text-align: center;">
    <form method="post" asp-controller="Book" asp-action="UpdateBookName">
        <input size="50" name="bookname" required placeholder="Enter the name of a book" />
        <input size="50" name="newbookname" required placeholder="Enter the new name of a book" />
        <input type="submit" value="Rename" />
    </form>
</div>